@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(#93C48B, #62925a);
    color: #3D0814;
}

.cabecalho {
    margin-top: 22px;
}

.campo {
    margin-top: 50px;
}

form input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"] {
    border-radius: 5px;
    height: 29px;
    width: 270px;
    padding: 0px 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

form input:focus, textarea:focus {
    background-color: #C6E0FF;
}

.perguntas {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

.color {
    color: #1656a3;
}

.buttons {
    margin-top: 12px;
}

.form label,p {
    margin: 11px 0;
}

#seletor{
    background: lightgray;
    border-radius: 7px;
    width: 90px;
    padding: 5px;
}

.radio {
    padding: 5px;
    display: inline-block;
}

.check {
    margin: 10px;
}

a {
    text-align: center;
    text-decoration: none;
}

footer {
    margin-bottom: 20px;
}

textarea {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 7px;
    border-radius: 5px;
}

.buttons button , select {
    cursor: pointer;
}

.buttons button {
    font-size: 1.1em;
    border: 0;
    margin: 7px;
    padding: 5px 9px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.buttons button:hover {
    background-color: lightgray;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}


